<div>
  <div>
    <form id="rptFormParams" action="/report/m_report_5" method="POST">
      <div class="page-title">
        <div class="title_left">
          <div class="form-group">
              {{> select_ter}}

              </br>
              <button type="submit" class="btn btn-primary">Открыть Отчет</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>
  <div id="rptResult" class="container" style="background: #ffffff; margin-top: 20px; padding: 0px 20px;"></div>
</div>