<div>
  <div>
    <form id="rptFormParams" action="/report/report_60" method="POST">
      <div class="page-title">
        <div class="title_left">
          <div class="form-group">
            {{> select_ter}}
            <div class="form-group" style="margin-top: 10px">
              <label for="ter2_id">Область</label>
              <select class="form-control ter-select" id="ter2_id" name="ter2_id"></select>
            </div>
            <input type="hidden" id="rpt_name" name="rpt_name" value="Доля женщин, закончивших беременность, прошедших тестирование на сифилис ">
            <div class="form-group" style="margin-top: 10px">
              <div class="rpt-menu-section">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list1" value="1" checked>
                <label class="form-check-label" for="rpt_list1">
                    1. Доля женщин, закончивших беременность, прошедших тестирование на сифилис 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list2" value="2">
                <label class="form-check-label" for="rpt_list2">
                    2. Доля женщин, закончивших беременность, прошедших тестирование на сифилис в первой половине беременности 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list3" value="3">
                <label class="form-check-label" for="rpt_list3">
                  3. Доля женщин, закончивших беременность, 
                  прошедших тестирование на сифилис 
                  во второй половине беременности 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list4" value="4">
                <label class="form-check-label" for="rpt_list4">
                  4. Доля женщин, закончивших беременность, прошедших тестирование на 
                  сифилис и имевших положительный результат теста   
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list5" value="5">
                <label class="form-check-label" for="rpt_list5">
                    5. Доля женщин, закончивших беременность и имевших положительный результат теста на сифилис, 
                    которые прошли полный курс лечения 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list6" value="6">
                <label class="form-check-label" for="rpt_list6">
                    6. Доля женщин, закончивших беременность, 
                    прошедших тестирование на ВИЧ 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list7" value="7">
                <label class="form-check-label" for="rpt_list7">
                    7. Доля женщин, закончивших беременность, прошедших тестирование на ВИЧ 
                    при постановке на учет по беременности 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list8" value="8">
                <label class="form-check-label" for="rpt_list8">
                    8. Доля женщин, закончивших беременность, прошедших тестирование на ВИЧ в 3-м триместре беременности 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list9" value="9">
                <label class="form-check-label" for="rpt_list9">
                    9. Доля женщин, закончивших беременность, прошедших двукратное тестирование на ВИЧ 
                </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list10" value="10">
              <label class="form-check-label" for="rpt_list10">
                  10. Доля женщин, закончивших беременность, прошедших тестирование на ВИЧ и
                   имевших положительный результат теста 
              </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list11" value="11">
              <label class="form-check-label" for="rpt_list11">
                  11. Доля женщин, закончивших беременность, 
                  прошедших тестирование на ВИЧ и 
                  имевших положительный результат теста, 
                  впервые выявленных в отчетном году 
              </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" name="rpt_list" id="rpt_list12" value="12">
              <label class="form-check-label" for="rpt_list12">
                  12. Доля женщин, закончивших беременность и имевших положительный результат теста на ВИЧ, 
                  которые получали АРТ с целью профилактики передачи ВИЧ от матери ребенку  
              </label>
              </div>
              </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">Открыть Отчет</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>
  <div id="rptResult" class="container" style="background: #ffffff; margin-top: 20px; padding: 0px 20px;"></div>
</div>

<script>
$('input:radio[name="rpt_list"]').on("change", function() {
  $("#rpt_name").val($(this).next().text());
});
</script>